@use "../../styles/variables" as v;

.btn_increment {
  background-color: v.$buttonActive;

   &:hover {
    background-color: darken(v.$buttonActive, 10%);
  }
}

.btn_increment:disabled {
  background-color: v.$buttonDisabled;
  cursor: not-allowed;
}

.animate {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}