@use "../../styles/variables" as v;

.counter {
  background-color: v.$boxNumber;
  color: v.$numberColorText;
  padding: v.$paddding_counter;
  border-radius: v.$value_padrao;
  box-shadow: v.$box_shadow_counter;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: v.$value_padrao;
  width: 90%;
  max-width: 700px;
}

.messageClick {
  margin-bottom: v.$value_padrao;
  font-size: v.$fs-medium;
  font-weight: v.$fw-500;
}

.btn_reset {
  background-color: v.$buttonReset;
}

.messageLimit {
  margin-top: v.$fs-base;
  color: v.$messageText;
  font-weight: v.$fw-600;
}

@media (width >= 768px) {

  .messageClick {
    font-size: v.$fs-big;
  }

  .messageLimit {
    font-size: v.$fs-base;
  }
}

@media (width < 600px) {
  h1 {
    font-size: v.$fs-big;
  }

  .messageLimit {
    font-size: v.$fs-base;
  }

  button {
    width: 100%;
    padding: v.$fs-base;
    font-size: v.$fs-base;
  }
}

@media (width >= 601px) {
  button {
    min-width: 200px;
    font-size: v.$fs_button_big;
    padding: v.$fs-base v.$paddding_counter;
  }
}
