$bg-page: #E6F0FA;
$boxNumber: #FFF;
$numberColorText: #1A4D8F;
$buttonActive: #38B000;
$buttonDisabled: #BDBDBD;
$messageText: #D9534F;
$buttonReset: #007BFF;

$padding_button: 0.75rem 2rem;
$border_button: 0.5rem;

$value_padrao: 1rem;
$fs-base: 1rem;
$fs-big: 2.5rem;
$fs-medium: 1.5rem;
$fs-small: 0.875rem;


$fw-500: 500;
$fw-600: 600;

$fs_message_1: 2.5rem;

$box_shadow_counter:  0 4px 10px rgba(0,0,0,0.1);
$paddding_counter: 2rem;